<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="styles/styles.css">

    <title>Admin</title>
</head>
<body>

<div class="jumbotron" style="background-image: url(http://www.kawasaki-autorama.com/aprilia/Assets/aprilia-banner.jpg); background-size: 100%;">
    <div class="container for-about">

    </div>
</div>

<div class="container">
    <h1>Display all Data</h1>

    <table class="table">
        <thead>
        <tr>
            <td>ID</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Service</td>
            <td>Phone</td>
            <td>Year</td>
            <td>Model</td>
            <td>Comments</td>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @forms }}" value="{{ @form }}">
            <tr>
                <td>{{ @form['id']}}</td>
                <td>{{ @form['first_name'] }}</td>
                <td>{{ @form['last_name'] }}</td>
                <td>{{ @form['service'] }}</td>
                <td>{{ @form['phone'] }}</td>
                <td>{{ @form['year'] }}</td>
                <td>{{ @form['model'] }}</td>
                <td>{{ @form['comment'] }}</td>
            </tr>
        </repeat>
        </tbody>
    </table>

    <div class="home">
        <a href="{{ @BASE }}">Home page</a>
    </div>

</div>

</body>
</html>