<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">
    <title>Form</title>
</head>
<body>

<div class="jumbotron" style="background-image: url(http://www.kawasaki-autorama.com/aprilia/Assets/aprilia-banner.jpg); background-size: 100%;">
    <div class="container for-about">

    </div>
</div>

<h1>Track Day</h1>

    <form action="#" method="post" >
        <div class="col-sm-6">
        <div class="form-group">
            <label for="first">First Name*</label>
            <input class="form-control" type="text" name="first" id="first" value="{{ @first}}">
            <span class="err">
                        <check if="{{ isset(@errors['first']) }}">
                            {{ @errors['first'] }}
                        </check>
                    </span>
        </div>
        <div class="form-group">
            <label for="last">Last Name*</label>
            <input class="form-control" type="text" name="last" id="last" value="{{ @last}}">
            <span class="err">
                        <check if="{{ isset(@errors['last']) }}">
                            {{ @errors['last'] }}
                        </check>
                    </span>
        </div>
        <div class="form-group">
            <label for="last">Bike Year</label>
            <input class="form-control" type="text" name="year" id="year" value="{{ @year}}">
            <span class="err">
                        <check if="{{ isset(@errors['year']) }}">
                            {{ @errors['year']}}
                        </check>
                    </span>
        </div>
        <div class="form-group">
            <label for="last">Bike Model</label>
            <input class="form-control" type="text" name="model" id="model" value="{{ @model}}">
        </div>

        <div class="form-group">
            <label for="comments">Comments</label>
            <textarea class="form-control" rows="5" type="text" name="comments" id="comments" placeholder="What modifications have been done to the bike?"></textarea>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </div>
    </form>

</body>
</html>