<!DOCTYPE html>
<!--
Arshdeep Singh
Roldan Barbante
This is the summary page showing the user their information.
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="styles/styles.css">

    <title>Summary</title>
</head>
<body>

<div class="jumbotron" style="background-image: url(http://www.kawasaki-autorama.com/aprilia/Assets/aprilia-banner.jpg); background-size: 100%;">
    <div class="container for-about">

    </div>
</div>

    <h1>Thank You! </h1>
    <!--Display imformation-->
    <div class="container" id="summary">
        <p>Name: {{ @SESSION.form->getFirst() }} {{ @SESSION.form->getLast() }}</p>
        <hr>
        <p>Phone: {{ @SESSION.form->getPhone() }}</p>
        <hr>
        <p>Service: {{ @SESSION.form->getService() }}</p>
    </div>
    <!--link to home-->
    <div class="home">
        <a href="{{ @BASE }}">Home page</a>
    </div>
</body>
</html>