<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
</head>
<body>
    <p>Thank You! </p>

    <div class="container" id="summary">
        <p>Name: {{ @SESSION.form->getFirst() }} {{ @SESSION.form->getLast() }}</p>
        <hr>
        <p>Bike Year: {{ @SESSION.form->getYear() }}</p>
        <hr>
        <p>Bike Model: {{ @SESSION.form->getModel() }}</p>
        <hr>
        <p>Comments: {{ @SESSION.form->getComments() }}</p>
    </div>
</body>
</html>