.err{
    color: red;

}


form {
    margin: auto;
    width: 50%;

    padding: 10px;
}

h1 {
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10px;
    color: red;
}

body{
    background-color:gray;
}


#summary{
    text-align: center;
    font-size: large;
    color: black;
}

.home{
    text-align: center;
    font-size: 30px;

}